#mainpic {
    background: url(../../img/TSCLegendeMain.jpg) fixed center no-repeat;
    background-size: cover;
}

#TSCLegIcon {
    background: url(../../img/TscLegendelogoBig.png) center no-repeat;
    background-size: 100%;
}

.slides {
    width: 500%;
}

.slide {
    width: 20%;
    transition: 0.5s;
}

#unitypic {
    background: url(../../img/UnityIcon.png) center no-repeat;
    background-size: 60% 100% !important;
}

#Photonpic {
    background: url('../../img/PhotonLogo.png') center no-repeat;
    background-size: 100% 70% !important;
}

#s1 {
    background: url('../../img/TSCLegende2.jpg') center no-repeat;
}

#s2 {
    background: url('../../img/TSCLegende2.jpg') center no-repeat;
}

#s3 {
    background: url('../../img/TSCLegende2.jpg') center no-repeat;
}

#s4 {
    background: url('../../img/TSCLegende2.jpg') center no-repeat;
}

#s5 {
    background: url('../../img/TSCLegende2.jpg') center no-repeat;
}

#r1:checked~.s1 {
    margin-left: 0;
}

#r2:checked~.s1 {
    margin-left: -20%;
}

#r3:checked~.s1 {
    margin-left: -40%;
}

#r4:checked~.s1 {
    margin-left: -60%;
}

#r5:checked~.s1 {
    margin-left: -80%;
}

h5 {
    margin: 0 !important;
}

@media(min-width: 1200px) {
    .rightpic {
        height: 45%;
    }
}

@media(max-width: 992px) {
    #unitypic {
        background-size: 50% 100% !important;
        margin-top: 20px;
        height: 150px;
    }
    #Photonpic {
        background-size: 100% !important;
        margin-top: 20px;
        height: 150px;
    }
    #rightpictures {
        height: 40vh;
    }
}

@media(max-width: 768px) {
    #unitypic {
        background-size: 70% 100% !important;
    }
}